body {
            
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 40%;
    max-width: 300px;
}
.input-grp{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
label{
    padding-right: 30px;
}
input{
    height: 25px;
}
table {
    width: 55%;
    border-collapse: collapse;
    margin-left: 270px;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
button:hover {
    background-color: #0056b3;
}

/* Add this CSS to your existing CSS */
.sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    position: fixed;
    height: 100%;
    overflow: auto;
    padding-top: 20px;
    left: 0;
}

.profile {
    text-align: center;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile h3 {
    margin-top: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 65px;
}

.sidebar li {
    margin: 10px 0;
    
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
}

.sidebar a:hover {
    background-color: #0056b3;
}

.content {
    margin-left: 270px;
    padding: 20px;
}

/* Your existing CSS */
/* ... */
