<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Distribution management system</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container-sign-up">
        <form id="login-form" action="/distributor-sign-up" method="post">
            <h1>Sign Up - Distributor</h1>
            <div class="input-container">
                <input type="text" id="firstname" placeholder="first name" name="firstname" required>
                <input type="text" id="lastname" placeholder="last name" name="lastname" required>
				<!-- <i class='bx bx-user'></i> -->
            </div>
            <div class="input-container">
                <input type="text" id="email" placeholder="email" name="email" required>
				<!-- <i class='bx bxs-envelope'></i> -->
            </div>
            <div class="input-container">
                <input type="text" id="nid" placeholder="NID number" name="nid" required>
				<!-- <i class='bx bx-user'></i> -->
            </div>

            <div class="input-container">
                <input type="text" id="licence" placeholder="Distributor licence number" name="licence" required>
				<!-- <i class='bx bx-user'></i> -->
            </div>
            
            <div class="input-container">
                <input type="text" id="phonenumber" placeholder="phone number" name="phonenumber" required>
				<!-- <i class='bx bxs-envelope'></i> -->
            </div>
            <div class="input-container">
                <select name="divisions" id="divisions" onchange="divisionsList();" required>
                    <option disabled selected>Select Division</option>
                    <option value="Barishal">Barishal</option>
                    <option value="Chattogram">Chattogram</option>
                    <option value="Dhaka">Dhaka</option>
                    <option value="Khulna">Khulna</option>
                    <option value="Mymensingh">Mymensingh</option>
                    <option value="Rajshahi">Rajshahi</option>
                    <option value="Rangpur">Rangpur</option>
                    <option value="Sylhet">Sylhet</option>
                  </select>
                  <select name="district" id="distr" onchange="thanaList();" required></select>
                  <select name="policestation" id="polic_sta" required></select>
				<!-- <i class='bx bxs-envelope'></i> -->
            </div>
            <div class="input-container">
                <input type="text" id="address" placeholder="distribution point address" name="address" required>
				<!-- <i class='bx bxs-envelope'></i> -->
            </div>
            <div class="input-container">
                <input type="password" id="password" placeholder="password" name="password" required>
				<!-- <i class='bx bxs-lock-alt' ></i> -->
            </div>
            <div class="input-container">
                <input type="password" id="password" placeholder="confirm password" name="" required>
				<!-- <i class='bx bxs-lock-alt' ></i> -->
            </div>
            <button type="submit" >Sign Up</button>
			<p>Already have an account? <a href="#" id="distributors_sign_in">Sign in</a></p> 
        </form>
    </div>

    <script src="js/change.js"></script>
    <script>
        document.getElementById('distributors_sign_in').addEventListener('click', function () {
            window.location.href = '/distributors/sign_in';
        });
    </script>
</body>


</html>
