*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.side-bar{
  background-color: burlywood;
  width:15%;
  height: 100vh;
  padding-top: 150px;
  padding-left: 100px;
}

p{
  font-family: sans-serif;
  font-size: large;
  font-weight: 500;
}

.side-bar ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column; 
  gap: 25px; 
  height: 100%; 
  
}

li{
  display: flex;
  flex-direction: row;
  gap: 20px;
}