@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
   text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}
body{
    background:white;
}
.header{
     display: flex;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    text-align:lcenter;
    justify-content: center;
    padding: 40px 2% ;
    background:white;
    border-bottom: 1px soild transparent;
    transition: all .45s ease;


}
.logo{
    width: 15%;
    padding-left: 2px;
    
    border-radius: 50px;    
}
.nav_bar{
   margin-left: 500px;
    display: flex;
}
.nav_bar a{
    color:black;
    font-size: 33px;
    font-weight: 500;
    margin:0 20px; 
    transition: all .45s ease;
}
.nav_bar  a:hover{
    color:aqua;

}

.slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
}

.mySlides {
   display: none;
    max-width: 100%;
}
.intro_image{
    text-align: center;
    margin-top: 140px;
    margin-bottom: 30px;
}
.introduction{
    text-align: center;
    justify-content: center;
    
}
.intro_pera{
    font-size: 26px;
    color: blue;
}
.grid_container{
    display: flex;
    max-width: 1500px;
    /* flex-wrap: wrap; */
    justify-content: center;
}
.grid_container img{
    width: 350px;
    height:400px;
    margin:10px;
    margin-top: 50px;
    margin-left: 150px;
    object-fit: cover;
}

