<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage with Tabs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="home_style.css">
</head>
<body>
      
       <div class="header">
        <img class="logo" src="images/pusti_logo2.jpg">
        <ul class="nav_bar">
            <li><a href="#">Home</a></li>
            <li> <a href="#">Product</a></li>
            <li> <a href="#">Stock</a></li>
            <li> <a href="#">Order</a></li>
            <li> <a href="#">Supplier</a></li>
            <li> <a href="Customer.html">Customer</a></li>
            <li> <a href="#">Vehicle</a></li>
            <li> <a href="#">Worker</a></li>
            <li> <a href="#">Transaction</a></li>
        </ul>
      </div>
      <div class="slideshow-container">
        <img class="mySlides" src="images/pusti_image3.png"  alt="Image 1">
        <img class="mySlides" src="images/pusti_image2.png" alt="Image 2">
        <img class="mySlides" src="images/pusti_image1.png" alt="Image 3">

    </div>
    <div class="intro_image">
      <img src="images/pusti_logo2.jpg">
    </div>
    <div class="introduction">
      <p class="intro_pera"> PUSTI is the most renowned brand of T.K. Group<br> with footprint in edible oil, atta, flour, Tea, rice,<br> water, lentil and Suzi. The brand is synonymous to<br> health, hygiene and excellence.</p>
    </div>
    <div class="grid_container" id="imageContainer">
      <img src="images/oil1.png" alt="image1">
      <img src="images/suzi1.png" alt="imagw2">
      <img src="images/tea1.png" alt="image3">

    </div>
    <div class="contact-us">
      <h2>Contact Me</h2>
      <div class="contact-info">
          <div class="contact-icon">
              <i class="fas fa-map-marker-alt"></i>
          </div>
          <p>Address: T. K. Bhaban (2nd Floor), 13, ZindaBazar, Sylhet-1215</p>
      </div>
      <div class="contact-info">
          <div class="contact-icon">
              <i class="fas fa-phone"></i>
          </div>
          <p>Phone: +880-2-9115210, 9144136, 9142876</p>
      </div>
      <div class="contact-info">
          <div class="contact-icon">
              <i class="far fa-envelope"></i>
          </div>
          <p>Email: info@tkgroupbd.com</p>
      </div>
      <div class="contact-info">
          <div class="contact-icon">
              <i class="far fa-clock"></i>
          </div>
          <p>Working Days/Hours: Sat to Thu - 9:00am to 5:00pm (Friday Closed) Except on Government Holidays</p>
      </div>
  </div>
  <div class="social-media">
    <h2>Follow Me</h2>
    <div class="social-icons">
        <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
        <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
    </div>
    <script src="home.js"></script>
</body>
</html>
