<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Table</title>
    <link rel="stylesheet" href="_style.css">
</head>
<body>
    <div class="order_info">
        <h1 >
            Order Information
        </h1>
        <div class="details">
            <div class="input-group">
                <label for="orderDate">Order Date:</label>
                <input type="text" id="orderDate" placeholder="Enter Order Date">
                <button id="addorderDate">Add Order Date</button>
            </div>
            <div class="input-group">
                <label for="productId">Product ID:</label>
                <input type="text" id="productId" placeholder="Enter Product ID">
                <button id="addId">Add ID</button>
            </div>
            <div class="input-group">
                <label for="productAmountInKg">Product Amount in Kg:</label>
                <input type="text" id="productAmountInKg" placeholder="Enter Product Amount in Kg">
                <button id="addproductAmountInKg">Add Product Amount</button>
            </div>
            <div class="input-group">
                <label for="productAmountInTk">Product Amount in Tk:</label>
                <input type="text" id="productAmountInTk" placeholder="Enter Product Amount in Tk">
                <button id="addproductAmountInTk">Add Product Amount</button>
            </div>
            <div class="input-group">
                <label for="customerId">Customer ID:</label>
                <input type="text" id="customerId" placeholder="Enter Customer ID">
                <button id="addId">Add ID</button>
            </div>
            <div class="input-group">
                <label for="deliveryDate">Delivery Date:</label>
                <input type="text" id="deliveryDate" placeholder="Enter Delivery Date">
                <button id="adddeliveryDate">Add Delivery Date</button>
            </div>
            <div class="input-group">
                <label for="deliveryStatus">Delivery Status:</label>
                <input type="text" id="deliveryStatus" placeholder="Enter Delivery Status">
                <button id="adddeliveryStatus">Add Delivery Status</button>
            </div>
        </div>
        <table>
            <tr>
                <th>orderDate</th>
                <th>productId</th>
                <th>productAmountInKg</th>
                <th>productAmountInTk</th>
                <th>customerId</th>
                <th>deliveryDate</th>
                <th>deliveryStatus</th>
            </tr>
            </tr>
            <tr>
                <td>a</td>
                <td>b</td>
                <td>c</td>
                <td>d</td>
                <td>e</td>
                <td>f</td>
                <td>g</td>
            </tr>
        </table>
    </div>
    
</body>
</html>
