<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Table</title>
    <link rel="stylesheet" href="_style.css">
</head>
<body>
    <div class="product_info">
        <h1 >
            Product Information
        </h1>
        <div class="details">
            <div class="input-group">
                <label for="productId">Product ID:</label>
                <input type="text" id="productId" placeholder="Enter Product ID">
                <button id="addId">Add ID</button>
            </div>
            <div class="input-group">
                <label for="productCatagory">Product Catagory:</label>
                <input type="text" id="productCatagory" placeholder="Enter the Catagory">
                <button id="addCatagory">Add Catagory</button>
            </div>
            <div class="input-group">
                <label for="productNetWeight">Product Net Weight:</label>
                <input type="text" id="productNetWeight" placeholder="Enter Net Weight">
                <button id="addNetWeight">Add Net Weight</button>
            </div>
        </div>
        <table>
            <tr>
                <th>productId</th>
                <th>productCatagory</th>
                <th>productNetWeight</th>
            </tr>
            <tr>
                <td>a</td>
                <td>b</td>
                <td>c</td>
            </tr>
        </table>
    </div>
    
</body>
</html>
