<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - Your Business App</title>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container-sign-up">
        <form id="login-form" >
            <h1>Sign Up</h1>
            <div class="input-container">
                <input type="text" id="firstname" placeholder="first name" required>
                <input type="text" id="lastname" placeholder="last name" required>
				<!-- <i class='bx bx-user'></i> -->
            </div>
            <div class="input-container">
                <input type="text" id="username" placeholder="username" required>
				<!-- <i class='bx bx-user'></i> -->
            </div>
            <div class="input-container">
                <input type="text" id="email" placeholder="email" required>
				<!-- <i class='bx bxs-envelope'></i> -->
            </div>
            <div class="input-container">
                <input type="password" id="password" placeholder="password" required>
				<!-- <i class='bx bxs-lock-alt' ></i> -->
            </div>
            <div class="input-container">
                <input type="password" id="password" placeholder="confirm password" required>
				<!-- <i class='bx bxs-lock-alt' ></i> -->
            </div>
            <button type="submit" >Sign Up</button>
			<p>Already have an account? <a href="sign_in.html">Sign in</a></p> 
        </form>
    </div>

</body>
</html>
