<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Table</title>
    <link rel="stylesheet" href="_style.css">
</head>
<body>
    <div class="stock_info">
        <h1 >
            Stock Information
        </h1>
        <div class="details">
            <div class="input-group">
                <label for="productId">Product ID:</label>
                <input type="text" id="productId" placeholder="Enter Product ID">
                <button id="addId">Add ID</button>
            </div>
            <div class="input-group">
                <label for="expiryDate">Expiry Date:</label>
                <input type="text" id="expiryDate" placeholder="Enter Expiry Date">
                <button id="addexpiryDate">Add Expiry Date</button>
            </div>
            <div class="input-group">
                <label for="productTP">Product TP:</label>
                <input type="text" id="productTP" placeholder="Enter Product TP">
                <button id="addproductTP">Add Product TP</button>
            </div>
            <div class="input-group">
                <label for="productDP">Product DP:</label>
                <input type="text" id="productDP" placeholder="Enter Product DP">
                <button id="addproductDP">Add Product DP</button>
            </div>
            <div class="input-group">
                <label for="productMRP">Product MRP:</label>
                <input type="text" id="productMRP" placeholder="Enter Product MRP">
                <button id="addproductMRP">Add Product MRP</button>
            </div>
            <div class="input-group">
                <label for="productAmountInKg">Product Amount in Kg:</label>
                <input type="text" id="productAmountInKg" placeholder="Enter Product Amount in Kg">
                <button id="addproductAmountInKg">Add Product Amount</button>
            </div>
            <div class="input-group">
                <label for="productAmountInTk">Product Amount in Tk:</label>
                <input type="text" id="productAmountInTk" placeholder="Enter Product Amount in Tk">
                <button id="addproductAmountInTk">Add Product Amount</button>
            </div>
        </div>
        <table>
            <tr>
                <th>productId</th>
                <th>expiryDate</th>
                <th>productTP</th>
                <th>productDP</th>
                <th>productMRP</th>
                <th>productAmountInKg</th>
                <th>productAmountInTk</th>
            </tr>
            </tr>
            <tr>
                <td>a</td>
                <td>b</td>
                <td>c</td>
                <td>d</td>
                <td>e</td>
                <td>f</td>
                <td>g</td>
            </tr>
        </table>
    </div>
    
</body>
</html>
