body {
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
	width: 40%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
	
}
.container-sign-up {
	width: 40%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
	
}

h1 {
    margin-top: 0;
    color: #333;
}

.input-container {
    margin: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}

.container-sign-up input{
	width: 100%;
}

input {
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-image: linear-gradient(to bottom, #007bff, #0056b3);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00409e;
}


a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

@media (max-width: 500px) {
    .container {
        width: 90%;
    }
}

.remember-forgot{
	margin-top: 20px;
	
}




