<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supply Table</title>
    <link rel="stylesheet" href="table_style.css">
</head>
<body>
    <div class="customer_info">
        <h1 >
            Supply  Information
        </h1>
        <div class="details">
            <div class="input-group">
                <label for="customerId">Supply Date</label>
                <input type="text" id="customerId" placeholder="Enter  Supply Date ">
                <button id="addId">Add Date</button>
            </div>
            <div class="input-group">
                <label for="productId">productId</label>
                <input type="text" id="productId" placeholder="Enter productId ">
                <button id="addName">Add ID</button>
            </div>

            <div class="input-group">
                <label for="SupplierPhoneNumber">productAmountKg</label>
                <input type="text" id="SupplierPhoneNumber" placeholder="EnterproductAmountInKg">
                <button id="addPhoneNumber">Add Amount</button>
            </div>
            <div class="input-group">
                <label for="customerAddress">productAmountTk</label>
                <input type="text" id="customerAddress" placeholder="Enter productAmountInTk">
                <button id="addAddress">Add Tk</button>
            </div>
            
        </div>
        <table>
            <tr>
                <th>supplyDate</th>
                <th>productId</th>
                <th>productAmountInKg</th>
                <th>productAmountInTk</th>
                
            </tr>
            <tr>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
               
            </tr>
        </table>
    </div>
    
</body>
</html>