<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplier Table</title>
    <link rel="stylesheet" href="table_style.css">
</head>
<body>
    <div class="customer_info">
        <h1 >
            Supplier Information
        </h1>
        <div class="details">
            <div class="input-group">
                <label for="customerId">Supplier ID:</label>
                <input type="text" id="customerId" placeholder="Enter Supplier Id">
                <button id="addId">Add ID</button>
            </div>
            <div class="input-group">
                <label for="customerName">Supplier Name:</label>
                <input type="text" id="customerName" placeholder="Enter Supplier Name">
                <button id="addName">Add Name</button>
            </div>

            <div class="input-group">
                <label for="SupplierPhoneNumber">Supplier Phone Number:</label>
                <input type="text" id="SupplierPhoneNumber" placeholder="Enter Phone Number">
                <button id="addPhoneNumber">Add Phone Number</button>
            </div>
            <div class="input-group">
                <label for="customerAddress">Supplier Address:</label>
                <input type="text" id="customerAddress" placeholder="Enter Supplier Address">
                <button id="addAddress">Add Address</button>
            </div>
            
        </div>
        <table>
            <tr>
                <th>supplierId</th>
                <th>supplierName</th>
                <th>supplierPhoneNumber</th>
                <th>supplierAddress</th>
                
            </tr>
            <tr>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
               
            </tr>
        </table>
    </div>
    
</body>
</html>