<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Table</title>
    <link rel="stylesheet" href="_style.css">
</head>
<body>
    <div class="transaction_info">
        <h1 >
            Transaction Information
        </h1>
        <div class="details">
            <div class="input-group">
                <label for="transactionId">Transaction ID:</label>
                <input type="text" id="transactionId" placeholder="Enter Transaction ID">
                <button id="addId">Add ID</button>
            </div>
            <div class="input-group">
                <label for="transactionAction">Transaction Action:</label>
                <input type="text" id="transactionAction" placeholder="Enter Transaction Action">
                <button id="addtransactionAction">Add Transaction Action</button>
            </div>
            <div class="input-group">
                <label for="transactionDescription">Transaction Description:</label>
                <input type="text" id="transactionDescription" placeholder="Enter Transaction Description">
                <button id="addtransactionDescription">Add Transaction Description</button>
            </div>
            <div class="input-group">
                <label for="transactionAmountInTk">Transaction Amount in Tk:</label>
                <input type="text" id="transactionAmountInTk" placeholder="Enter Transaction Amount in Tk">
                <button id="addtransactionAmountInTk">Add Transaction Amount</button>
            </div>
            <div class="input-group">
                <label for="transactionDate">Transaction Date:</label>
                <input type="text" id="transactionDate" placeholder="Enter Transaction Date">
                <button id="addtransactionDate">Add Transaction Date</button>
            </div>
        </div>
        <table>
            <tr>
                <th>transactionId</th>
                <th>transactionAction</th>
                <th>transactionDescription</th>
                <th>transactionAmountInTk</th>
                <th>transactionDate</th>
            </tr>
            <tr>
                <td>a</td>
                <td>b</td>
                <td>c</td>
                <td>d</td>
                <td>e</td>
            </tr>
        </table>
    </div>
    
</body>
</html>
