<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Table</title>
    <link rel="stylesheet" href="table_style.css">
</head>
<body>
    <div class="Vehicle_info">
        <h1 >
            Vehicle Information
        </h1>
        <div class="details">
            <div class="input-group">
                <label for="orderDate">chassisNo:</label>
                <input type="text" id="orderDate" placeholder="Enter chassisNo">
                <button id="addorderDate">Add chassisNo</button>
            </div>
            <div class="input-group">
                <label for="productId">driverName:</label>
                <input type="text" id="productId" placeholder="Enter driver Name:">
                <button id="addId">Add driver Name</button>
            </div>
            <div class="input-group">
                <label for="productAmountInKg">WorkerId</label>
                <input type="text" id="productAmountInKg" placeholder="Enter  WorkerId">
                <button id="addproductAmountInKg">Add WorkerId</button>
            </div>
           
            
               
        </div>
        <table>
            <tr>
                <th>chassisNo</th>
                <th>driverName</th>
                <th>workerId</th>
               
            </tr>
            </tr>
            <tr>
                <td>0</td>
                <td>0</td>
                <td>0</td>
             
              
            </tr>
        </table>
    </div>
    
</body>
</html>
